/* MAIN */

.main__infos-form-field{
    width: 50%;
}

.main__infos-form-title{
    color: var(--dark-gray);
    font-size: 2em;
    margin-bottom: 0.3em;
    display: block;
}

.main__infos-form-options{
    width: 70%;
    font-size: 1.75em;
    margin-bottom: 1em;
    border-radius: 7px;
    border: 2px solid var(--gray);
    color: var(--fonts);
    transition: 0.5s;
}

.main__infos-form-inputs{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#quantity:out-of-range{
    border-color: var(--red);
}

.error{
    font-size: 1.2rem;
}

.main__infos-button{
    width: 30%;
    margin: 1em;
    font-size: 1.5em;
}

.bg{
    position: absolute;
    z-index: -1;
    right: 5%;
    opacity: 0.4;
}

/* RESULTADO */

.resultados.invisible{
    display: none;
}

.resultados__title, .resultados__registry{
    font-size: 3em;
    color: var(--dark-gray);
    margin: 0.5em 0;
}

.resultados__text:before{
    content: "✔";
}

.resultados__text{
    font-size: 2em;
    line-height: 1.5em;
    display: block;
    color: var(--fonts);
}

.resultados__button{
    margin: 2em auto;
    font-size: 1.5em;
    width: 25%;
}

@media screen and (max-width:760px){
    header {
        flex-direction: column;
        margin-bottom: 2em;
    }

    .header__menu-items{
        margin: 0.5em 0;
        display: flex;
        justify-content: flex;
    }

    .header__option.theme{
        position: initial;
    }

    .bg{
        display: none;
    }

    .main__infos-form-inputs{
        width: 100%;   
    }

    .main__infos-form-options{
        width: 100%;
    }

    .main__infos-form-inputs > #quantity{
        width: 30%;
        padding: 7px;
    }

    .main__infos-form-field{
        width: 100%;
    }

    .main__infos-button{
        margin: 1em 0 2em 0;
        width: 100%;
    }

    .resultados__form-registry{
        margin: 0.5em 0.5em;
    }
}